body {
  font-family: "Trebuchet MS", "Times New Roman";
  background-color: #e8b6f5;
  color: #242323;
  margin: 0;
  padding: 0;
  font-size: 23px;
}
.underline {
  text-decoration: underline;
  color: #f5f901;
  text-shadow: 5px 2px 4px rgba(5, 195, 209, 0.5);
  font-size: 38px;
}
header {
  background-color: #00796b;
  color: white;
  padding: 2em 1em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: relative;
  text-align: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 15px;
}
nav ul li a {
  color: #f1cf0c;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}
nav ul li a:hover {
  color: #2600ff;
  text-decoration: underline;
}
#prevButton,
#nextButton {
  background-color: #13f177;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  width: 60px;
  height: 60px;
}
#prevButton:hover,
#nextButton:hover {
  background-color: #004d40;
  transform: scale(1.1);
}
.image-gallery-section {
  background-color: #f5ae92;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.image-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #f5ae92;
  border-radius: 10px;
}
#imageContainer {
  max-width: 600px;
  text-align: center;
}
.gallery-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.image-container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f1e4e4;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.main-section-image {
  width: 80%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
#homeButton {
  display: block;
  margin: 20px auto;
  padding: 15px 20px;
  font-size: 24px;
  color: white;
  background-color: #00796b;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}
#homeButton:hover {
  background-color: #004d40;
  transform: scale(1.1);
}
#about h2,
#contact h2 {
  margin: 0;
  padding-bottom: 0px;
}
#about p,
#contact p {
  margin: 1px 0;
}
#about,
#contact {
  padding: 10px 20px;
}
footer {
  background-color: #00796b;
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-top: 40px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}
.positioned-container {
  position: relative;
  text-align: center;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}
